version: "3.3"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.11.1
    environment:
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - xpack.security.enabled=true
      - xpack.monitoring.collection.enabled=true
      - ELASTIC_PASSWORD=___change_me___
      - "ES_JAVA_OPTS=-Xms512M -Xmx512M"
      - "TZ=Asia/Tokyo"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
    volumes:
      - es-data:/usr/share/elasticsearch/data
    restart: always
  kibana:
    image: docker.elastic.co/kibana/kibana:7.11.1
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - "TZ=Asia/Tokyo"
      - I18N_LOCALE="ja-JP"
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=___change_me___
    depends_on:
      - elasticsearch
    restart: always
  logstash:
    image: docker.elastic.co/logstash/logstash:7.11.1
    volumes:
      - "./pipeline/:/usr/share/logstash/pipeline/"
    environment:
      - "TZ=Asia/Tokyo"
    ports:
      - 5000:5000
    depends_on:
      - elasticsearch
    restart: always

volumes:
  es-data:
    driver: local
